@charset "UTF-8";

.newtaskbutton-container{
    display: flex;
    justify-content: flex-end;
    margin: 20px 40px;
}

.newtaskbutton{
    padding: 10px 20px;
    background-color: #d9d9d9;
    border: solid 0px black;
}